.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 4rem;
  padding: 2rem;
  max-width: 1200px; /* Tambahkan ini */
  margin: 0 auto; /* Center */
  margin-top: 5rem;
}

.cardContainer {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.cardContainer:hover {
  transform: translateY(-5px);
}

.cardIcon {
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #111827;
}

.cardButton {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardButton:hover {
  background-color: #1e40af;
}
